#main,#encrypt{
	box-shadow: 0 0 4px rgba(33,33,33,0.5);
	border:1px solid transparent;
	background-color: rgba(256,256,256,0.6);
	height : 340px;
	width: 1330px;

}

#OTP_div{
	display:none;
	height: 200px;
	width:1330px;
	background-color: rgba(256,256,256,0.6);
	box-shadow:0 0 4px rgba(33,33,33,0.5);
	padding-top: 50px;
}
.warning{
	font-size: 13px;
	color:red;
}

#warn_encrypt{
	display:none;
	width:200px;
}


body{
	background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	background-attachment: fixed;
	padding:inherit;
}

#first{
	border: 1px ;
	
	background: transparent; /*linear-gradient(90deg, rgba(2,0,36,0.6) 0%, rgba(8,8,112,0.8) 0%, rgba(7,47,146,0.6) 13%, rgba(0,212,255,1) 100%)*/;
}

#addrbox{
	height:240px;
	width:1330px;
	background-image: linear-gradient(to left, #0079fd60, #0090fa50, #31a3f2, #65b4e7, #92c2dc);
	border-right: 1px solid black;
	border-left: 1px solid black;
}

.button{
	border-style: box;
	margin-left: 10px;
	border: 0.5px solid #1c89ff;
	background-color: #1c89ff;
	border-radius:10px;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	height:20px;
	width:100px;
	text-align: center;
	box-shadow:0px 0px 3px rgba(33,33,33,0.7);
}
.button:hover{
	background: rgba(28,137,255,0.6);
	transition: all 0.1s ease-in-out;
	box-shadow:0px 0px 3px rgba(30,30,30,0.6);
}

.button:active{
	color:rgba(255,255,255,0.5);
	background: rgba(36,150,255,0.3);
	border-color: rgba(36,150,255,0.3);

	transition: all 0.1s ease-in-out;
	box-shadow: 0px 0px 1px rgba(25,25,25,1);
}



#enter{
	height:200px;
	width:1330px;
	margin-top: 50px;
}

#addr{
    margin-left:20px;
    font-size: 18px; 
}

.addrlink{
	font-size: 20px;
	color: black;
	text-decoration: none;
	font-family: 'Book Antiqua';
}

.addrlink:hover{
	color:hotpink;
}

.addrlink:active{
	color:red;
}

#contact{
	margin-bottom: 50px;
	margin-left: 30px;
}

#result{
	border: 1px solid black;
	margin-top: 10px;
	background-color: rgba(256,256,256,0.6);
	height: auto;

}

#c2c{
	
	position: absolute;
	bottom:10px;
	right:10px;
}


#final{
	display:inline-block;
	position: relative;
	word-wrap: break-word;
	text-align: center;
}

input{
	background-color: transparent;
	outline:none;
	border-style:initial;
	box-shadow: 0 0 3px rgba(30,30,30,0.5);
	height: 20px;
	border-radius: 10px;
	padding-left:11px;
	 
}

#pass{
	width:200px;
}

input:focus{
	outline: none;
	background: white;

}
